<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Registro | NationGamer</title>
  </head>
  <body  style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdU9D07HDPDec_r08jAfFS2VjcGxqLT0nM2Q&usqp=CAU);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="https://cdn.pixabay.com/photo/2016/11/19/00/10/gamepad-1837422_960_720.png"  style="width:150px; height:80px" alt="logo"></a>
        <a class="navbar-brand" href="/">NationGamer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
          </ul>
          <ul>
            <li class="navbar-text">
              <a class="nav-link active"  aria-current="page" href="/create">Registrate</a>
            </li>
            
          </ul> 
          <ul>
            <li class="navbar-text">
              <a class="nav-link active" aria-current="page" href="/login">Iniciar Sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br>
    <br>
    <div class="container" style="padding: 0  350px;">
        <div class="card" style="width: 30rem;"> 
            <div class="card-header" style="text-align: center;"><h2>Registrate</h2></div>
            <div class="card-body">
                <form action="/save" method="post">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" id="nombre" class="form-control" name="nombre" tabindex="1" >
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" id="correo" class="form-control" name="correo" tabindex="2">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Cantraseña</label>
                        <input type="password" id="contra" class="form-control" name="contra" tabindex="3" >
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="hidden" id="id_perfil" class="form-control" name="id_perfil" value="2" tabindex="4" >
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary" style="width: 445px;" tabindex="5">Registrarme</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <footer class="bg-dark text-white text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">ACERCA DE NOSOTROS</h5>
  
            <p>
              ¡Bienvenido a nuestro sitio web! Somos una empresa dedicada completamente a las recomendaciones de
              videojuegos. Nuestro objetivo es llegar a millones de personas a través de nuestras recomendaciones.
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright by
      <a class="text-white" href="https://www.facebook.com/GHOSHBABU22">NationGamer & Lletrox Company</a>
      </div>
      <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script> </script>
  </body>
</html>