<!DOCTYPE html>
<html>

<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <title>Login | NationGamer</title>
</head>

<body
  style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdU9D07HDPDec_r08jAfFS2VjcGxqLT0nM2Q&usqp=CAU);">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="https://cdn.pixabay.com/photo/2016/11/19/00/10/gamepad-1837422_960_720.png"  style="width:150px; height:80px" alt="logo"></a>
      <a class="navbar-brand" href="/">NationGamer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
        </ul>
        <ul>
          <li class="navbar-text">
            <a class="nav-link active"  aria-current="page" href="/create">Registrate</a>
          </li>
          
        </ul> 
        <ul>
          <li class="navbar-text">
            <a class="nav-link active" aria-current="page" href="/login">Iniciar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div class="container" style="padding: 0  350px;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-3" style="max-width: 455px;">
          <h2 class="card-title" style="text-align: center;">Inicia Sesión</h2>
          <img src="https://i.blogs.es/7bb0c9/videogame/450_1000.jpg" class="card-img-top"
            alt="gamer" style="height: 300px; width: 437px;">
          <div class="card-body">
            <form class="row g-3" action="/auth" method="POST">
              <div class="form-group">
                <label for="inputEmail4" class="form-label">Correo eléctronico</label>
                <input type="email" required class="form-control" id="inputEmail4" name="email" placeholder="example@gmail.com">
              </div>
              <div class="form-group">
                <label for="inputPassword4" class="form-label">Contraseña</label>
                <input type="password" required class="form-control" name="password" id="inputPassword4"
                  placeholder="tu contraseña...">
              </div>
              <div class="col-12" style="padding-right: 50px ;"></div>
                <button type="submit" class="btn btn-lg btn-success ">INICIAR SESION</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>

    </div>
  </div>
  <br>
  <div class="container">

  </div><br>
  <!-- Footer -->
  <footer class="bg-dark text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">ACERCA DE NOSOTROS</h5>

          <p>
            ¡Bienvenido a nuestro sitio web! Somos una empresa dedicada completamente a las recomendaciones de
            videojuegos. Nuestro objetivo es llegar a millones de personas a través de nuestras recomendaciones.
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright by
      <a class="text-white" href="https://www.facebook.com/GHOSHBABU22">NationGamer & Lletrox Company</a>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </script>
</body>

</html>